#addingnew{
    background-color: #DC9000;
    outline: none;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 90%;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 3px 8px 1px #0000004D;
    height: 4.5vh;
    width: 10vw;  
    text-decoration: none; 
    margin-left:6%;
}


#addingnew:hover{
    background-color: #faaf23;
    transition: all 2s ease; 
}

/*aside for product add*/

#newone{
    visibility: hidden;
    opacity: 0;
    position: absolute;
	left: 0%;
    right: 0%;
	top: -0.27%;
	bottom: 0%;
    background-color: #6A0000;
    
    
    
}

.newproduct input{
    
    border-radius: 4px;
    outline: none;
}

.newproduct input::placeholder{
    text-align: center;
    color: #bababa;
    font-weight: bold;
}

.newproduct input[type="text"]{
    height: 5vh;
    width: 25vw;
    
}

#valueinput{
    width: 7vw;
}

.newproduct input[type="textarea"]{
    height: 15vh;
    width: 50vw;
    
}

#imageadd{
    background-color: #FFFFFF;
    border: 1px dashed #bababa;
    height: 40vh;
    width: 20vw;
    
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 85%;
    font-weight: bold;
    color: #bababa;
    text-align: center;
}

#right{
    box-sizing: border-box;
    position: absolute;
    left: 62.09%;
    right: 5.77%;
    top: 20.14%;
    bottom: 43.47%;
}

.nome{
    position: absolute;
    left: 7.48%;
    right: 40.37%;
    top: 20.14%;
    bottom: 73.47%;
    margin-left: 1%;
}

.categoria{
    position: absolute;
    left: 7.48%;
    right: 40.37%;
    top: 31.67%;
    bottom: 61.94%;
    margin-left: 1%;
}

.descricao{
    position: absolute;
    left: 8.47%;
    right: 83.56%;
    top: 43.89%;
    bottom: 53.58%;

}

.valor{
    position: absolute;
    left: 7.48%;
    top: 61.53%;
    right: 75.58%;
    bottom: 32.08%;
    margin-left: 1%;
}

#newone a{
position: absolute;
left: 61.23%;
right: 26.13%;
top: 87.66%;
bottom: 8.12%;
color: #FFFFFF;
font-weight: 500;
font-size:105%;
cursor: pointer;
}

#newone button{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 7px 21px;
gap: 10px;
width: 139px;
height: 41px;
position: absolute;
left: 75.23%;
right: 26.13%;
top: 87.66%;
bottom: 8.12%;
background: #DC9000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
border: 1px solid#DC9000;
text-align: center;
font-size: 105%;
color: #FFFFFF;
cursor: pointer;

}

#questionmark{
    color: #FFFFFF;
    text-decoration: none;
}